*{
margin: 0;
}

body{
	text-align:center;
	background-color:#000;
	grid-row-columns:100%;
}

.header{
	width: 100%;
	position: fixed;
	top: 5px;
	z-index:100;
	display:flex;
	justify-content: space-between;
}


nav{
	display:flex;
	justify-content: space-around;
	margin:auto;
	margin-top:0;
	margin-right:10px;
}

nav button{
	font-size: 6vw;
	font-family: monospace;
	font-weight: bold;
	padding-top: 10px;
	margin:auto;
	margin-top:none;
	text-shadow:
		-2px -2px 0 #500,
		2px -2px 0 #600,
		-2px 2px 0 #500,
		2px 2px 0 #600;

}

nav button:hover{
	background-color:black;
	color: white;
	opacity:70%;
}

.topStuff{
	display:grid;
	height:100%;
	width: 90vw;
	margin:none;
	grid-template-columns: 60% 40%;
}

#blogPost{
	font-size: 1.55vw;
	width:100;
	padding-top:50px;
	padding-bottom:50px;
	text-align: right;
	border-bottom: 10px dashed white;
	background:black;
	opacity:80%;
	text-shadow:
		-2px -2px 0 #500,
		2px -2px 0 #600,
		-2px 2px 0 #500,
		2px 2px 0 #600;

}

#blogPost h2{
	text-align:left;
}

.topStuff img{
	border-top: 10px dashed black;
	border-left:10px dashed white;
	border-bottom:10px dashed black;
	border-right: 10px dashed white;
	opacity: 80%;
	margin-top:50px;
}

.content{
	padding:none;
	width: 95vw;
	background-image:url("./cool.jpeg");
	background-size:cover;
	display: grid;
	grid-template-rows: 80% 20%; 
	margin: 0;
	margin-top: 150px;
	position:relative;
	left: 1.55vw;
	text-align: center;
	height: 82vh;
	border-radius: 10px;
	border: 10px solid black;
}

.content h1{
	padding-top:10px;
	color:white;
	margin: auto;
	font-size:4vw;
	border-bottom:10px dashed white;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.logos{
	display: flex;
	margin:auto;
	padding: 10px;
	width: 90%;
	border-radius: 20px;
	justify-content: space-between;
}

.logos img{
	margin: auto;
}

.greeting{
	color: white;
	margin-top:none;
	padding-left:none;
	border-right: 10px dashed white;
	width:100%;
}

.aLogo{
	margin-top:5px;
	border:10px solid black;
	width: 220px;
	background:white;
	padding:10px;
}
.aLogo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media screen and (max-width: 992px){
	nav button{
		font-size: 8.5vw;
		margin:auto;
		margin-top:22px;
	}
	nav{
		background:none;
	}
	.header img{
		height:150px;
		width:150px;
	}
	}
@media screen and (max-width: 900px){
	.aLogo{
		padding:0;
		margin:0;

	}
	.topStuff img{
		height:150px;
		width:150px;
	}
	nav button{
		font-size: 8vw;
	}	
}

