*{
margin: 0;
}

body{
	text-align:center;
	background-color:#000;
	grid-row-columns:100%;
}

.header{
	width: 100%;
	position: fixed;
	top: 5px;
	z-index:100;
	display:flex;
	justify-content: space-between;
}


nav{
	display:grid;
	margin:auto;
	grid-template-columns:auto auto auto;
	grid-template-rows:auto auto;
	margin-top:0;
	margin-right:10px;
}

nav button{
	font-size: 6vw;
	font-family: monospace;
	font-weight: bold;
	padding-top: 10px;
	margin:auto;
	margin-top:none;
	text-shadow:
		-2px -2px 0 #500,
		2px -2px 0 #600,
		-2px 2px 0 #500,
		2px 2px 0 #600;

}

nav button:hover{
	background-color:black;
	color: white;
	opacity:70%;
}

#links{
	z-index:98;
	background:black;
	color:white;
	font-size:30px;
	display:none;
}
#links p{
	padding: 5px;
	border-top:3px dashed white;
}
#links a{
	color:white;
}
#links a:hover{
	color:grey;
}

.topStuff{
	display:grid;
	height:100%;
	width: 90vw;
	margin:none;
	grid-template-columns: 60% 40%;
}

#blogPost{
	font-size: 1.55vw;
	width:100;
	padding-top:50px;
	padding-bottom:50px;
	text-align: right;
	border-bottom: 10px dashed white;
	background:black;
	opacity:80%;
	text-shadow:
		-2px -2px 0 #500,
		2px -2px 0 #600,
		-2px 2px 0 #500,
		2px 2px 0 #600;

}

#blogPost h2{
	text-align:left;
}

.topStuff img{
	border-top: 10px dashed black;
	border-left:10px dashed white;
	border-bottom:10px dashed black;
	border-right: 10px dashed white;
	border-radius:25px;
	margin-top:30px;
	margin-bottom:0px;
	margin-left:4.45vw;
	margin-right:0px;
}

.content{
	padding:none;
	width: 95vw;
	background-image:url("./cool.jpeg");
	background-size:cover;
	display: grid;
	grid-template-rows: 80% 20%; 
	margin: 0;
	margin-top: 150px;
	position:relative;
	left: 1.55vw;
	text-align: center;
	height: 82vh;
	border-radius: 10px;
	border: 10px solid black;
}

.content h1{
	padding-top:10px;
	color:white;
	margin: auto;
	font-size:4vw;
	border-bottom:10px dashed white;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}


.greeting{
	color: white;
	margin-top:none;
	padding-left:none;
	border-right: 10px dashed white;
	width:100%;
}
#itemOnSale{
	color:white;
	display:grid;
	grid-template-rows: auto auto;
	font-size:2vw;
}
#itemOnSale img{
	margin:auto;
}

@media screen and (max-width: 992px){
	nav button{
		font-size: 8.5vw;
		margin:auto;
		margin-top:22px;
	}
	nav{
		background:none;
	}

	.header img{
		height:150px;
		width:150px;
	}
	}
@media screen and (max-width: 900px){
	.topStuff img{
		height: 250px;
		width: 250px;
	}
	#itemOnSale img{
		height:300px;
		width:222px;
	}
	nav button{
		font-size: 8vw;
	}	
}

